@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: theme(colors.zinc.900);
    --color-foreground: theme(colors.zinc.100);

    --color-card: theme(colors.zinc.800);
    --color-card-foreground: theme(colors.zinc.100);

    --color-primary: theme(colors.green.600);
    --color-primary-foreground: theme(colors.zinc.100);

    --color-muted: theme(colors.zinc.700);
    --color-muted-foreground: theme(colors.zinc.600);

    --color-border: theme(colors.zinc.700);
    --color-input: theme(colors.zinc.600);
  }
}

@layer base {
  html,
  body,
  #__nuxt {
    @apply h-full;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  * {
    @apply antialiased border-border;
  }
}
